{% extends "goskyhy/login_layout.html" %}
{% block login %}
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Settings</span></a>
	<ul class="sub-menu">
		<li><a href="/faq"><span class="menu-item-span">FAQ</span></a></li>
		<li class="menu-item-has-children"><a href="/profile">My Profile</a></li>
		<!-- <li class="menu-item-has-children"><a href="#">Account</a></li> -->
		<li class="menu-item-has-children"><a href="/logout">Log Out</a></li>
	</ul>
</li>
{% endblock login %}
{% block wrapper %}

<!-- Wrapper-->
<div class="wrapper">

	<!-- Page Header-->
	<section class="module-header parallax bg-dark bg-dark-30" data-background="assets/images/module-5.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="h1 m-b-10">Masonry</h1>
					<h1 class="h6">Experienced and Friendly</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Header end-->

	<!-- Blog-->
	<section class="module">
		<div class="container">
			<div class="row">
				<!-- Content-->
				<div class="col-lg-8">
					<div class="row blog-masonry">
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/1.jpg" alt=""></a>
									<div class="post-category"><a href="#">Lifestyle</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">New Trends</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/2.jpg" alt=""></a>
									<div class="post-category" data-background-color="#ffbb44"><a href="#">Science</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">Behind the color</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/4.jpg" alt=""></a>
									<div class="post-category" data-background-color="#4CAF50"><a href="#">Business</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">Bicycles</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/3.jpg" alt=""></a>
									<div class="post-category"><a href="#">Lifestyle</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">New Trends</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/6.jpg" alt=""></a>
									<div class="post-category" data-background-color="#ffbb44"><a href="#">Science</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">Behind the color</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
						<div class="col-md-6 post-item">

							<!-- Post-->
							<article class="post">
								<div class="post-preview"><a href="#"><img src="assets/images/blog/5.jpg" alt=""></a>
									<div class="post-category" data-background-color="#4CAF50"><a href="#">Business</a></div>
								</div>
								<div class="post-wrapper">
									<div class="post-header">
										<h2 class="post-title"><a href="blog-single.html">Bicycles</a></h2>
									</div>
									<div class="post-content">
										<p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
									</div>
								</div>
								<div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
							</article>
							<!-- Post end-->
						</div>
					</div>
				</div>
				<!-- Content end-->

				<!-- Sidebar-->
				<div class="col-lg-4">
					<div class="sidebar">
						<!-- Search widget-->
						<aside class="widget widget_search">
							<form>
								<input class="form-control" type="search" placeholder="Type search here">
								<button class="search-button" type="submit"><span class="fa fa-search"></span></button>
							</form>
						</aside>
						<!-- Recent portfolio widget-->
						<aside class="widget widget_recent_works">
							<div class="widget-title">
								<h6>Latest Work</h6>
							</div>
							<ul>
								<li><a href="#"><img src="assets/images/widgets/4.jpg" alt=""></a></li>
								<li><a href="#"><img src="assets/images/widgets/5.jpg" alt=""></a></li>
								<li><a href="#"><img src="assets/images/widgets/6.jpg" alt=""></a></li>
								<li><a href="#"><img src="assets/images/widgets/7.jpg" alt=""></a></li>
								<li><a href="#"><img src="assets/images/widgets/8.jpg" alt=""></a></li>
								<li><a href="#"><img src="assets/images/widgets/9.jpg" alt=""></a></li>
							</ul>
						</aside>

						<!-- categories widget -->

						<!-- Recent entries widget-->
						<aside class="widget widget_recent_entries_custom">
							<div class="widget-title">
								<h6>Recent Posts</h6>
							</div>
							<ul>
								<li class="clearfix">
									<div class="wi"><a href="#"><img src="assets/images/widgets/1.jpg" alt=""></a></div>
									<div class="wb"><a href="#">Experience the sound of a modern and clean Bluetooth Speaker</a><span class="post-date">May 8, 2016</span></div>
								</li>
								<li class="clearfix">
									<div class="wi"><a href="#"><img src="assets/images/widgets/2.jpg" alt=""></a></div>
									<div class="wb"><a href="#">Experience the sound of a modern and clean Bluetooth Speaker</a><span class="post-date">May 8, 2016</span></div>
								</li>
								<li class="clearfix">
									<div class="wi"><a href="#"><img src="assets/images/widgets/3.jpg" alt=""></a></div>
									<div class="wb"><a href="#">Experience the sound of a modern and clean Bluetooth Speaker</a><span class="post-date">May 8, 2016</span></div>
								</li>
							</ul>
						</aside>

						<!-- Twitter widget-->
						<aside class="widget twitter-feed-widget">
							<div class="widget-title">
								<h6>Twitter Feed</h6>
							</div>
							<div class="twitter-feed" data-twitter="345170787868762112" data-number="2"></div>
						</aside>

						<!-- Tags widget-->
						<aside class="widget widget_tag_cloud">
							<div class="widget-title">
								<h6>Tags</h6>
							</div>
							<div class="tagcloud"><a href="#">e-commerce</a><a href="#">portfolio</a><a href="#">responsive</a><a href="#">bootstrap</a><a href="#">business</a><a href="#">corporate</a></div>
						</aside>
					</div>
				</div>
				<!-- Sidebar end-->
			</div>
		</div>
	</section>
	<!-- Blog end-->

	<!-- Footer-->
	<footer class="footer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6"><span class="copyright">© 2019 GoSkyHy, All Rights Reserved.</span></div>
				<div class="col-md-6">
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end-->
</div>
<!-- Wrapper end-->
{% endblock wrapper %}
