{% extends "goskyhy/login_layout.html" %}
{% block login %}
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Settings</span></a>
	<ul class="sub-menu">
		<li><a href="/faq"><span class="menu-item-span">FAQ</span></a></li>
		<li class="menu-item-has-children"><a href="/profile">My Profile</a></li>
		<!-- <li class="menu-item-has-children"><a href="#">Account</a></li> -->
		<li class="menu-item-has-children"><a href="/logout">Log Out</a></li>
	</ul>
</li>
{% endblock login %}
{% block wrapper %}
<br><br><br><br>
<h1>Please proceed to your email to activate your account</h1>
{% endblock wrapper %}