{% extends "goskyhy/general_layout.html" %}
{% block header %}
<!-- Header-->
<header class="header header-center" style="background-color: white; opacity: .8;">
	<div class="container-fluid">
		<!-- Brand-->
		<div class="inner-header"><a class="inner-brand" href="/"><img class="brand-dark" src="../../static/images/logo.png" width="30px" alt=""><img class="brand-light" src="../../static/images/logo-light.png" width="30px" alt=""></a></div>
		<!-- Navigation-->
		<div class="inner-navigation collapse">
			<div class="inner-nav onepage-nav">
				<ul>
					<li><a href="/newsfeed"><span class="menu-item-span">News</span></a></li>
					<li><a href="/create_new"><span class="menu-item-span">Create an Experience</span></a></li>

					<!-- Add After Booking Flight APIs-->
					<!-- <li><a href="#portfolio"><span class="menu-item-span">Flights</span></a></li> -->

					<li><a href="/"><span class="menu-item-span">Experiences</span></a></li>
					<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Settings</span></a>
						<ul class="sub-menu">
							<li><a href="/faq"><span class="menu-item-span">FAQ</span></a></li>
							<li class="menu-item-has-children"><a href="/profile">My Profile</a></li>
							<!-- <li class="menu-item-has-children"><a href="#">Account</a></li> -->
							<li class="menu-item-has-children"><a href="/logout">Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- Mobile menu-->
		<div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
	</div>
</header>
<!-- Header end-->
{% endblock header %}

{% block wrapper %}
<!-- Wrapper-->
<div class="wrapper">
	<!-- Page header will go here; see bottom -->
	<!-- Blog-->
	<section class="module">
		<div class="container">
			<div class="row">
				<!-- Content-->
				<div class="col-lg-8">
					<!-- Post-->
					<article class="post">
						<div class="post-preview"><img src="../../static/images/activities/highend/beachbars.jpg" alt=""></div>
						<div class="post-wrapper">
							<div class="post-header">
								<h1 class="post-title">Escape the City and Go to the Best Part</h1>
								<ul class="post-meta h6">
									<li>November 18, 2018</li>
									<li>In <a href="#">San Francisco, CA</a>, <a href="#">Golden Gate Park</a></li>
									<li><a href="#">323 Comments</a></li>
								</ul>
							</div>
							<div class="post-content">
								<p>Currently we're averaging a 20 member turnout regardless of RSVP's however please do RSVP, especially if you're new to the group and or plan to play. NB: Regardless of event details and times our regulars still show up and play at various hours throughout the entire day. Feel free to post a message when in doubt.</p>
								<p>This event will be officially a go ONLY-IF you have at least 4 total confirmed players no later than 11am before kick-off time (12:00 Noon), so that the rest of the confirmed players can go ahead with their day without much inconvenience if you don't have the players for a 2X2 play. However do feel free to post if anyone is there on our WhatsApp group. It is open to anyone who wants to rally-up players and host it. There are members who are willing to play on this Sunday event and many of us do live just minutes away. Feel free to suggest an edit for the time of the event at will, if you want. Remember, always any member can create and host an event and others will just jump-in. (tip: also announce it on the Whatsapp group)</p>
								<blockquote>
									<p>The 1st player to get there should choose a men's court with antennas. Post the chosen court location (Row/Across) from the car park (Court #'s are confusing), or some form of identifying marker, eg umbrella, chair, towel, or bag color. All VB levels and friends are welcome. Bring a volleyball, water, towel, and perhaps some socks if its really hot out, etc.</p>
								</blockquote>
								<p>Keep in contact with any informative incoming messages from players on your mobile app as the kickoff time draws near.</p>
								<p>Free Parking: There is some free street parking along E Cabrillo Blvd overlooking the courts but it usually fills up quickly, there are also some at Ninos Dr, S Milpas St (a bit far though).</p>
								<p>Paid Parking: There are couple of pay next to the courts & beach, the pay lot just east of the Cabrillo Bath House and just across from the Hyatt and cross street Ninos is your best bet.</p>
								<p>The volleyball courts and picnic area are just east of the east lot.</p>
								<p>There is a small bridge to the volleyball courts from the east parking lot.</p>
								<p>East Beach Volleyball Courts (Google map Link):</p>
								<p></p>
								<ol>
									<li>East Beach Parking lot map (Google map Link): https://www.google.com/maps/place/East+Beach+Volleyball+Courts</li>
									<li>https://maps.google.com/maps?q=East+Beach+Parking+Lot,+East+Cabrillo+Boulevard,+Santa+Barbara,+CA,</li>
									<li>http://www.boweryboyshistory.com/2014/01/cat-astrophe-hungry-felines-attack.html</li>
								</ol>

								<p>The volleyball courts and picnic area are just east of the east lot.</p>
								<p>TThere is a small bridge to the volleyball courts from the east parking lot.</p>		

								<p>Restrooms and restaurant are at the parking lot restaurant.This Walk for the History of Less is on a scenic route filled with interesting places. I will comment on some things (architecture/history), but you will have plenty of time to socialize with others.</p>



							</div>
							<div class="post-footer">
								<div class="post-tags"><a href="#"> Lifestyle</a><a href="#">Music</a><a href="#">News</a><a href="#">Travel</a></div>
							</div>
						</div>
					</article>
					<!-- Post end-->

					<!-- Comments area-->
					<div class="comments-area">
						<h5 class="comments-title">3 Comments</h5>
						<div class="comment-list">
							<!-- Comment-->
							<div class="comment">
								<div class="comment-author"><img class="avatar" src="../../static/images/users/black&white.jpeg" alt=""></div>
								<div class="comment-body">
									<div class="comment-meta">
										<div class="comment-meta-author"><a href="#">Sarah Ford</a></div>
										<div class="comment-meta-date"><a href="#">
											<time>May 5, 2017 at 4:51 am</time></a>
										</div>
									</div>
									<div class="comment-content">
										<p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her. Rooms he doors there ye aware in by shall. Education remainder in so cordially.</p>
									</div>
									<div class="comment-reply"><a href="#">Reply</a></div>
								</div>
								<!-- Subcomment-->
								<div class="children">
									<div class="comment">
										<div class="comment-author"><img class="avatar" src="../../static/images/users/blackhair.jpeg" alt=""></div>
										<div class="comment-body">
											<div class="comment-meta">
												<div class="comment-meta-author"><a href="#">Harry Benson</a></div>
												<div class="comment-meta-date"><a href="#">
													<time>May 5, 2018 at 4:51 am</time></a>
												</div>
											</div>
											<div class="comment-content">
												<p>If you travel to Vietnam and want to meet up, hit us up: https://www.meetup.com/Ho-Chi-Minh-Meet-the-locals/</p>
											</div>
											<div class="comment-reply"><a href="#">Reply</a></div>
										</div>
									</div>
								</div>
							</div>
							<!-- Comment-->
							<div class="comment">
								<div class="comment-author"><img class="avatar" src="../../static/images/users/blond.jpeg" alt=""></div>
								<div class="comment-body">
									<div class="comment-meta">
										<div class="comment-meta-author"><a href="#">Jessica Cain</a></div>
										<div class="comment-meta-date"><a href="#">
											<time>May 5, 2018 at 4:51 am</time></a>
										</div>
									</div>
									<div class="comment-content">
										<p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her. Rooms he doors there ye aware in by shall. Education remainder in so cordially.</p>
									</div>
									<div class="comment-reply"><a href="#">Reply</a></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Comments area end-->

				</div>
				<!-- Content end-->

				<!-- Sidebar-->
				<div class="col-lg-4">
					<div class="sidebar">
						<!-- Search widget-->
						<aside class="widget widget_search">
							<form>
								<input class="form-control" type="search" placeholder="Type search here">
								<button class="search-button" type="submit"><span class="fa fa-search"></span></button>
							</form>
						</aside>
						<!-- Recent portfolio widget-->
						<aside class="widget widget_recent_works">
							<div class="widget-title">
								<h6>More Great Experiences</h6>
							</div>
							<ul>
								<li>
									<a href="#"><img src="../../static/images/activities/activeicons/northdakota/scandinavian_heritage.jpg" alt=""></a>
									<p></p>
								</li>
								<li><a href="#"><img src="../../static/images/activities/activeicons/northdakota/pembina-river-plaza-museum.jpg" alt=""></a></li>
								<li><a href="#"><img src="../../static/images/activities/activeicons/alaska/GlacierBay.jpeg" alt=""></a></li>
								<li><a href="#"><img src="../../static/images/activities/activeicons/alaska/KenaiFjordsNationalPark.jpeg" alt=""></a></li>
								<li><a href="#"><img src="../../static/images/activities/activeicons/northdakota/bonanzaville-usa.jpg" alt=""></a></li>
								<li><a href="#"><img src="../../static/images/activities/activeicons/alaska/denali-national-park.jpeg" alt=""></a></li>
							</ul>
						</aside>
						<!-- Categories widget; see bottom -->

						<!-- Recent entries widget-->
						<aside class="widget widget_recent_entries_custom">
							<div class="widget-title">
								<h6>Near By Activities</h6>
							</div>
							<ul>
								<li class="clearfix">
									<div class="wi"><a href="a_act_details2.html"><img src="../../static/images/cities/cincity/cincinnati.jpeg" alt=""></a></div>
									<div class="wb"><a href="#">San Francisco Sailing Club</a><span class="post-date">May 8, 2016</span></div>
								</li>
								<li class="clearfix">
									<div class="wi"><a href="#"><img src="../../static/images/cities/sf/sf_vegan_food.jpeg" alt=""></a></div>
									<div class="wb"><a href="#">Vegan Cooking Club Meetup</a><span class="post-date">May 8, 2016</span></div>
								</li>
								<li class="clearfix">
									<div class="wi"><a href="#"><img src="../../static/images/cities/sf/sf-food.jpeg" alt=""></a></div>
									<div class="wb"><a href="#">Restaurant & Bar Explorers</a><span class="post-date">May!8, 2016</span></div>
								</li>
								<li class="clearfix">
									<div class="wi"><a href="a_act_details3.html"><img src="../../static/images/activities/movements/greatdepression.jpg" alt=""></a></div>
									<div class="wb"><a href="#">The History of Less</a><span class="post-date">May!8, 2016</span></div>
								</li>
							</ul>
						</aside>

						<!-- Purchase Cart-->

						<p><a class="btn btn-brand" href="#"><span>Add to My Cart</span></a></p>

						<!-- Twitter widget-->
						<aside class="widget twitter-feed-widget">
							<div class="widget-title">
								<h6>Twitter Feed</h6>
							</div>
							<div class="twitter-feed" data-twitter="345170787868762112" data-number="2"></div>
						</aside>

						<!-- Tags widget-->
						<aside class="widget widget_tag_cloud">
							<div class="widget-title">
								<h6>Tags</h6>
							</div>
							<div class="tagcloud"><a href="">art</a><a href="">paloalto</a><a href="">mountainview</a><a href="">zenpaint</a><a href="">downtownsunnyvale</a><a href="">artclasses</a><a href="">mountainview</a><a href="">losaltos</a><a href="">losaltoshills</a><a href="">corporateevents</a><a href="">painting</a><a href="">teambuilding</a><a href="">siliconvalley</a><a href="">mountainviewchamber </a><a href="">arttherapy </a><a href="">artheals </a><a href="">fiestapaint </a><a href="">paintwithtequila</a></div>
						</aside>
					</div>
				</div>
				<!-- Sidebar end-->
			</div>
		</div>
	</section>
	<!-- Blog end-->

	<!-- Active Map -->
	<section class="maps-container">
		<div class="map" data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="../../static/images/map-icon.png" data-zoom="15"></div>
	</section>


	<!-- Clients and Testimonials-->
	<!-- Clients and Testimonials end-->

	<!-- Posts-->

	<!-- Posts end -->

	<!-- Footer-->
	<footer class="footer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6"><span class="copyright">© 2019 GoSkyHy, All Rights Reserved.</span></div>
				<div class="col-md-6">
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end-->
</div>
<!-- Wrapper end-->
{% endblock wrapper %}
