{% extends "goskyhy/login_layout.html" %}
{% block login %}
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Settings</span></a>
	<ul class="sub-menu">
		<li class="menu-item-has-children"><a href="/profile">My Profile</a></li>
		<!-- <li class="menu-item-has-children"><a href="#">Account</a></li> -->
		<li class="menu-item-has-children"><a href="/logout">Log Out</a></li>
	</ul>
</li>
{% endblock login %}
{% block wrapper %}
<br><br><br><br>
<h1 class="pl-4">General</h1><br>
<h6 class="pl-4">What is GoSkyHy?</h6>
<div class="pl-4">
	<p>
		GoSkyHy is in its simplest form, a travel promoter. However, that's where we deviate from other travel agencies and websites. Our goal is not to promote what's trendy at the moment or the locations that will get you the best photos. Our goal is to connect you to real people, real experiences, and real life.
	</p>
	<p>
		Live See Learn
	</p>
</div>
<br>
<h6 class="pl-4">What is GoSkyHy's porpoise?</h6>
<div class="pl-4">
	<p>
		Can you even count how many times you've travelled to a foreign country or perhaps even a different state/province/shire/etc... and thought to yourself, "do I really want to see another museum?"? Or perhaps gotten into an argument with someone over hiking yet another trail when all you want to do is chill out a bit? Have you ever been to a city and realised you wanted to explore the smaller less touristy areas of the area but been at a loss as to where to start?
	</p>
	<p>
		Never fear, this is where GoSkyHy steps in!
	</p>
	<p>
		Our porpoise is to help you whenever you're in a sinch like that! For wherever you travel, you'll now always be able to find activities and experiences that are not wildly publicised to tourists, and yet are fun, memorable, and unique to the area! Best of all, they let you experience the culture without requiring you to do any planning, and help you meet others from all over the world simultaneously!
	</p>
</div>
<br>
<h6 class="pl-4">TBA</h6>

<br><br>
<h1 class="pl-4">Functionality</h1><br>
<h6 class="pl-4">How do I use GoSkyHy?</h6>
<div class="pl-4">
	<p>
		There are many ways in which you can use GoSkyHy! The primary goal for us is that you be able to connect to users all over the world and see what the "real life" people experience whether that be through purchasing experiences or connecting with and talking to other users!
	</p>
	<p>
		You can first browse through the currently available experiences on the home page. You can also create your own account through which you can both purchase experiences and customise your user profile and connect to other users! If you just want to test out an experience and create accounts later, you can still purchase and experience as a guest!
	</p>
	<p>
		As a user of GoSkyHy, we hope to provide you the best experience possible. Whether that be through socialising amongst the users, hosting experiences, experiencing for yourself, or anything else, we hope it's the best that it can be!
	</p>
</div>
<br>
<h6 class="pl-4">Why does GoSkyHy look a bit scrappy?</h6>
<div class="pl-4">
	GoSkyHy has a small team right now working hard to making everything user friendly and well-done. We may have just not gotten around to fixing some aspects of the user interface as in our opinion, the user's experience is the most important aspect. We promise we'll fix the scrappiness as soon as we can!
</div>
<br>
<h6 class="pl-4">Why are there broken areas?</h6>
<div class="pl-4">
	We're still in the developmental phase so there might be some areas and bugs we haven't caught yet. We apologise for that but we're working hard to catch and fix all of them! If you find anything, please feel free to email us at <a href="mailto:admin@goskyhy.com">admin@goskyhy.com</a> and report it!
</div>
<br>
<h6 class="pl-4">I previously made an account but why can't I log in?</h6>
<div class="pl-4">
	Previously made account may be deleted without warning due to bug fixes. We're trying to minimise that as much as possible, but it's not guaranteed your previously made accounts will be saved. We'll announce in advance when your accounts may be deleted as well as when that will stop happening.
</div>
<br>
<h6 class="pl-4">How can I contribute?</h6>
<div class="pl-4">
	We love that you want to help! If you experience any crashes, funky areas, or just general displeasement with our services or user experience, please feel free to email us <a href="mailto:admin@goskyhy.com">admin@goskyhy.com</a> and report anything you find! We value your feedback greatly.
</div>
<br>
<h6 class="pl-4">What will GoSkyHy be like in the future?</h6>

<br><br>
<h1 class="pl-4">Purchases</h1><br>
<h4 class="pl-4">DISCLAIMER</h4>
<div class="pl-4">
	At the moment, none of the experiences actually collect money. We're experimenting with some different methods of payment and thus, whilst we're still in our developmental stage, we are not charging customers who click "Purchase". Rest assured, until further notice, we will not actually take your money, so feel free to "purchase" any experiences you like and explore our services!
</div>
<br>
<h6 class="pl-4">What do I do if I decide I don't want to go through with an experience?</h6>
<div class="pl-4">
	At the moment, there is no real exchange of legal tender, so you don't have to worry about refunds or actually paying. In the future, as soon as we process monetary exchanges, we shall inform you on refund and exchange policies.
</div>
<br>
<h6 class="pl-4">How can we know our purchases are secure?</h6>
<div class="pl-4">
	We as a company, never directly handle your money. All services used for money-handling are approved to be completely secure and will not leak your information to third-parties. 
</div>

<br><br>
<h1 class="pl-4">Contact Us</h1><br>
<div class="pl-4">
	Call us at: <a href="tel:1-408-839-1508">1-408-839-1508</a> <!-- might be broken on computer or Androids! -->
</div>
<div class="pl-4">
	Email us at: <a href="mailto:admin@goskyhy.com">admin@goskyhy.com</a>
</div>
{% endblock wrapper %}